
<footer>
    <p class="copyright">Copyright © 2013 <a href="http://www.renhanzi.com" title="认汉字，学汉语">Renhanzi.com</a> all rights reserved. <br /><img src="/static/img/renhanzi/caring.gif" width="156" height="50" alt="爱心站勋章" /></p><br />
</footer>
<!-- Baidu Button BEGIN -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5d9e3bec2368a8d051b2941d358bf3c2' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=1&amp;pos=right&amp;uid=6786020" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->