    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copinyinright" content="renhanzi.com" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="认汉字,认识汉字,学习汉字,中文汉字,汉字词典,汉语字典,中文字典,新华字典,在线新华字典,现代汉语词典,Chinese characters, Chinese dictionary" />
    <meta name="description" content="认汉字网站共收录简体、繁体2万多汉字，37万多词语，1万3千多成语，为广大汉语学习者提供汉字的拼音、读音、部首、组词等在线查询功能。" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="bookmark" type="image/x-icon" href="/static/img/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/renhanzi/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/renhanzi/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/renhanzi/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/renhanzi/apple-touch-icon-57-precomposed.png">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/renhanzi.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie6.css">
    <![endif]-->