      <br />
      <div class="well well-large"><h2><a href="/" class="home" title="返回首页">认汉字，学汉语</a></h2>
        <form action="/search/post/" method="post">
          <div class="input-append">
          <input class="span3" id="search_key" name="search_key" type="text">
          <button class="btn" type="submit">搜索</button>
          </div>&nbsp;&nbsp;
          <a href="/search/radical/">按部首检索汉字</a>&nbsp;|&nbsp;<a href="/search/pinyin/">按拼音检索汉字</a>&nbsp;|&nbsp;<a href="/search/idiom/">按拼音检索成语</a>
          <span class="help-block">请直接输入汉字或词语查询，支持拼音查询，例：“认”;“汉字”;“r”;“ren”。</span>
        </form>
      </div>