$def with(w, words, idioms)
<!doctype html>
<html dir="ltr" lang="zh-CN">
  <head>
    <title>认识 $w.word 的词组 - 认汉字，学汉语，宏扬中华文化、致力于做最优秀的汉语推广网站。</title>
$:render.renhanzi.header()
  </head>
  <body>
    <div class="container-fluid">
$:render.renhanzi.search()
      <div class="row-fluid">
        <div class="span3">
          <!--Sidebar content-->
$:render.renhanzi.abc('i')
$:render.renhanzi.num('40')
        </div>
        <div class="span9">
          <!--Body content-->
          <h4>简体：</h4>
<ul class="word-index">
$for i in range(len(w.word)):
    $if w.pinyin <> '':
        <li><span class="hanzi-pinyin">$w.pinyin.replace(u'，',', ').replace(', ',' , ').replace('  ',' ').split(' ')[i]</span>
        $if w.word[i] == u',' or w.word[i] == u'，':
            <span class="hanzi-title">$w.word[i]</span>
        $else:
            <a href="/$w.word[i]/" title="认识 $w.word[i] 的汉字"><span class="hanzi-title">$w.word[i]</span></a>
        </li>
    $else:
        <li><span class="hanzi-pinyin">&nbsp;</span><span class="hanzi-title">$w.word[i]</span></li>
</ul>
          <br class="clear" />
          <h4>繁体：</h4>
<ul class="word-index">
$if len(w.traditional) == len(w.word):
    $for i in range(len(w.word)):
        $if w.pinyin <> '':
            <li><span class="hanzi-pinyin">$w.pinyin.replace(u'，',', ').replace(', ',' , ').replace('  ',' ').split(' ')[i]</span>
            $if w.word[i] == u',' or w.word[i] == u'，':
                <span class="hanzi-title">$w.traditional[i]</span>
            $else:
                <a href="/$w.word[i]/" title="认识 $w.word[i] 的汉字"><span class="hanzi-title">$w.traditional[i]</span></a>
            </li>
        $else:
            <li><span class="hanzi-pinyin">&nbsp;</span><span class="hanzi-title">$w.traditional[i]</span></li>
</ul>
          <br class="clear" />
          <h4>词语解释：</h4>
          <div>$w.description</div>
          <hr>
          <h4>“ <span class="label label-important abc-title">$w.hanzi</span> ”开头的成语：</h4>
$:render.renhanzi.idioms(idioms)
          <h4>“ <span class="label label-important abc-title">$w.hanzi</span> ”的相关词语：</h4>
$:render.renhanzi.words(words)
          
        </div>
      </div>
      <hr>
    </div>
$:render.renhanzi.footer()
  </body>
</html>